<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
            <span>Planning Poker</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-content>
    <section layout="row" layout-align="center" layout-padding>
        <section layout="column" flex flex-md="70" flex-gt-lg="60">
            <div class="md-whiteframe-2dp">
                <h2 ng-bind="data.room.title"></h2>
                <h3>
                    <md-button class="md-fab" style="float:right" ng-click="addUserStory()" id="edit-story">
                        <md-icon>add</md-icon>
                    </md-button>
                    <span ng-bind="getCurrentStory()"></span>
                </h3>
            </div>
            <div class="md-whiteframe-2dp">
                <md-list class="players">
                    <md-list-item ng-repeat="s in data.stories">
                        {{ s.title }}
                    </md-list-item>
                </md-list>
            </div>
        </section>
        <div flex flex-md="30" flex-gt-md="20">
            <md-list class="players">
                <md-list-item  class="md-2-line" ng-repeat="u in data.users">
                    <div class="md-list-item-text">
                        <h3 ng-bind="u.name"></h3>
                        <p ng-bind="roles[u.roleId]"></p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </section>
</md-content>
