<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
            <span>Planning Poker</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-content>
    <section layout="row" layout-align="center" layout-padding>
        <div flex flex-gt-lg="60" class="md-whiteframe-2dp">
            <h2 ng-bind="room.title"></h2>
        </div>
        <div flex flex-gt-lg="20">
            <section>
                <img gravatar-src-once="user.email">
                <span ng-bind="user.name"></span>
            </section>
            Players<br>
            Players<br>
            Players<br>
            Players<br>
            Players<br>
            Players<br>
            Players<br>
        </div>
    </section>
</md-content>
